*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;

}

body, html {
  color: var(--text-color);

  width: 100vw;
}

.topo{
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  
  max-width: 1440px;
  width: 100vw;
}

.container{
  width: 1277px;
}

.topo header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 57px;
  margin-bottom: 90px;

  font-family: 'Montserrat';
  font-style: normal; 

  height: 50px;
}

.topo header h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;

}

.topo header h1 span{
  color: var(--color-logo);
}

.topo header ul{
  display: flex;
  gap: 60px;

  list-style: none;
}

.topo header ul li a{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: var(--text-color);
  
}

.topo header button{
  width: 230px;
  height: 50px;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.topo header button:hover{
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.intro-nft{
  display: flex;
  justify-content: space-between;
}