*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

}

body {
  background-color: var(--body-background);
  color: var(--text-color);
  
}

.topo{
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
}

.container{
  width: 1277px;
}

.topo header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 57px;
  margin-bottom: 90px;

  font-family: 'Montserrat';
  font-style: normal; 

  height: 50px;
}

.topo header h1{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 49px;

}

.topo header h1 span{
  color: var(--color-logo);
}

.topo header ul{
  display: flex;
  gap: 60px;

  list-style: none;
}

.topo header ul li a{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: var(--text-color);
  
}

.topo header button{
  width: 230px;
  height: 50px;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.topo header button:hover{
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.intro-nft{
  display: flex;
  justify-content: space-between;

  gap: 40px;

  margin-bottom: 100px;
}

.intro-nft-text-avatar {
  width: 401px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.intro-nft-text-avatar p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.intro-nft-avatars {
  display: flex;
  align-items: flex-end;
  gap: 6px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

}

.intro-nft-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 61px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 596px;
}

.intro-nft-title span {
  color: var(--color-logo)
}

.intro-nft-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.intro-nft-badge img {
  width: 200px;

}

.galery{
  display: flex;
  justify-content: center;
}

.galery ul {
  display: flex;                              
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 16px;

  list-style: none;
}

.full-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-data {
  max-width: 1423px;
  min-height: 600px;
  
  display: flex;
  justify-content: center;

  margin-bottom: 150px;

  border-bottom: 1px solid var(--subtitle-color);
}

.info-data-number {
  width: 281px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid var(--subtitle-color);
}

.info-data-number ul {
  list-style: none;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.info-data-number ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.info-data-number ul li strong {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;

  margin-bottom: 8px;
}

.info-data-number ul li span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: var(--subtitle-color);
}

.info-data-description{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-data-description div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-data-description div div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 391px;
  margin: 70px 0;

}

.info-data-description div p{
  width: 100%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  
  margin-bottom: 70px;

}

.info-data-banner{
  width: 100%;
}

.popular-of-the-week{
  margin-bottom: 151px;
}

.popular-of-the-week h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  margin-bottom: 158px;

}

.popular-of-the-week h2 span{
  color: var(--color-logo);
}

.popular-of-the-week > div{
  display: flex;
  justify-content: space-between;

}

.popular-of-the-week > div ul{
  list-style: none;
}

.popular-of-the-week hr{
  width: 1px;
  background-color: var(--subtitle-color);
}

.popular-of-the-week > div p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  
}

.popular-of-the-week > div ul li div{
  display: flex;
  justify-content: space-between;

}

.popular-of-the-week > div ul li div:first-child{
  margin-bottom: 44px;

}

.popular-of-the-week > div ul li div:nth-child(2){
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  margin-bottom: 26px;
}

.popular-of-the-week > div ul li div:nth-child(2) span:nth-child(1){
  color: var(--subtitle-color);
}

.popular-of-the-week > div ul li div:nth-child(2) span:nth-child(2){
  color: var(--color-logo);
}

.popular-of-the-week > div ul li:nth-child(1) img{
  margin-bottom: 50px;
}

.best-artists{
  margin-bottom: 148px;
}

.best-artists h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;

  margin-bottom: 120px;

}

.best-artists h2 span{
  color: var(--color-logo);
}

.best-artists ul{
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 111px;

  margin-bottom: 63px;
}

.best-artists ul li{
  width: 350px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  background-color: var(--card-color);
}

.best-artists ul li:nth-child(2){
  background-color: var(--color-logo);
}

.best-artists ul li div p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.best-artists ul li div p:nth-child(1){
  margin-bottom: 10px;
}

.best-artists ul li div p:nth-child(2){
  color: var(--color-logo);
}

.best-artists ul li:nth-child(2) div p:nth-child(2){
  color: var(--text-color);
}

.best-artists p{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.best-artists p span{
  margin-left: 13px;
}